# =========================
#  Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Ambiente de build/transpilação
dist/
build/
.temp/
.out/
coverage/

# Logs
*.log
logs/

# Arquivos de configuração sensíveis
.env
.env.local
.env.*.local

# =========================
#  Docker
# =========================
docker-compose.override.yml
*.env  # Se usar .env para docker-compose

# =========================
#  PostgreSQL (local)
# =========================
postgres_data/        # Se você tiver uma pasta montada localmente para dados do Postgres
pg_data/
*.sql                 # Se não quiser versionar dumps SQL
*.bak
*.backup
*.dump
